## TUGAS

**Buka file dataset yang ada pada modul 6 (material 1) dan lakukan klassifikasi menggunakan SVM dan KNN**

### 1. Import libraries pandas dan sklearn beserta fungsi-fungsinya

In [1]:
import pandas as pd
from sklearn.neighbors import KNeighborsClassifier
from sklearn import svm
from sklearn.naive_bayes import GaussianNB
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score
from sklearn.metrics import confusion_matrix
from sklearn.metrics import classification_report

### 2. Load dataset pegawai_cab01.csv dengan fungsi pandas yaitu pd.read_csv kemudian letakkan kode untuk load tersebut di dalam variabel bernama data. Lalu, cetak 5 baris pertama dataset

In [2]:
data = pd.read_csv('pegawai_cab01.csv')
print(data.head(5))

   nik             nama     gaji    tglmasuk      job_id  \
0  206    William Gietz   8300.0  1990-10-01  AC_ACCOUNT
1  205  Shelley Higgins  12000.0  1987-09-30      AC_MGR
2  200  Jennifer Whalen   4400.0  1987-09-25     AD_ASST
3  100      Steven King  24000.0  1983-06-17     AD_PRES
4  101    Neena Kochhar  17000.0  1987-06-18       AD_VP

                       job_title
0              Public Accountant
1             Accounting Manager
2       Administration Assistant
3                      President
4  Administration Vice President

### 3. Convert nilai bertipe string di kolom job_id menjadi nilai bertipe numerik, karena model machine learning hanya mengenali nilai numerik.

In [3]:
jobid = {"AC_ACCOUNT":0, "AC_MGR":1, "AD_ASST":2, "AD_PRES":3, "AD_VP":4, 
         "FI_ACCOUNT":5, "FI_MGR":6, "HR_REP":7, "IT_PROG":8, "IT_SUPP":9,
        "MK_MAN":10, "MK_REP":11, "PR_REP":12, "PU_CLERK":13, "PU_MAN":14, 
         "SA_MAN":15, "SA_REP":16, "SH_CLERK":17, "ST_CLERK":18,"ST_MAN":19}
data["job_id"] = data["job_id"].map(jobid)

data.head(10)

,nik,nama,gaji,tglmasuk,job_id,job_title
0,206,William Gietz,8300.0,1990-10-01,0,Public Accountant
1,205,Shelley Higgins,12000.0,1987-09-30,1,Accounting Manager
2,200,Jennifer Whalen,4400.0,1987-09-25,2,Administration Assistant
3,100,Steven King,24000.0,1983-06-17,3,President
4,101,Neena Kochhar,17000.0,1987-06-18,4,Administration Vice President
5,102,Lex De Haan,17000.0,1985-06-19,4,Administration Vice President
6,109,Daniel Faviet,9000.0,1990-06-26,5,Accountant
7,110,John Chen,8200.0,1997-06-27,5,Accountant
8,111,Ismael Sciarra,4200.0,1985-06-28,5,Accountant
9,112,Jose Manuel Urman,7800.0,1985-06-29,5,Accountant

### 4. Variabel/kolom nik, nama, dan tglmasuk tidak berpengaruh terhadap job_title. Maka dari itu, kita drop kolom-kolom tersebut supaya dataset terlihat lebih ‘clean’. Kita gunakan fungsi drop untuk menghilangkan kolom tersebut beserta isinya.

In [4]:
drop_column = ["nik", "nama", "tglmasuk"]
data.drop(drop_column, axis=1, inplace=True)
print(data.head())

      gaji  job_id                      job_title
0   8300.0       0              Public Accountant
1  12000.0       1             Accounting Manager
2   4400.0       2       Administration Assistant
3  24000.0       3                      President
4  17000.0       4  Administration Vice President

### 5. Kita buat variabel X yang terdiri dari 2 feature diatas dan variabel y yang merupakan class/target yaitu job_title. Semua dataset dalam bentuk X dan y di ubah kedalam vector matric.

In [5]:
X = data.iloc[:,:-1].values
y = data['job_title']

In [6]:
X

array([[8.30e+03, 0.00e+00],
       [1.20e+04, 1.00e+00],
       [4.40e+03, 2.00e+00],
       [2.40e+04, 3.00e+00],
       [1.70e+04, 4.00e+00],
       [1.70e+04, 4.00e+00],
       [9.00e+03, 5.00e+00],
       [8.20e+03, 5.00e+00],
       [4.20e+03, 5.00e+00],
       [7.80e+03, 5.00e+00],
       [6.90e+03, 5.00e+00],
       [1.20e+04, 6.00e+00],
       [6.50e+03, 7.00e+00],
       [9.00e+03, 8.00e+00],
       [2.80e+03, 8.00e+00],
       [4.80e+03, 8.00e+00],
       [4.80e+03, 8.00e+00],
       [4.20e+03, 8.00e+00],
       [2.60e+03, 9.00e+00],
       [1.30e+04, 1.00e+01],
       [6.00e+03, 1.10e+01],
       [1.00e+04, 1.20e+01],
       [3.10e+03, 1.30e+01],
       [2.90e+03, 1.30e+01],
       [2.80e+03, 1.30e+01],
       [2.50e+03, 1.30e+01],
       [1.10e+04, 1.40e+01],
       [1.40e+04, 1.50e+01],
       [1.35e+04, 1.50e+01],
       [1.20e+04, 1.50e+01],
       [1.10e+04, 1.50e+01],
       [1.05e+04, 1.50e+01],
       [1.00e+04, 1.60e+01],
       [9.50e+03, 1.60e+01],
       [9.00e+03, 1.60e+01],
       [8.00e+03, 1.60e+01],
       [7.50e+03, 1.60e+01],
       [7.00e+03, 1.60e+01],
       [1.00e+04, 1.60e+01],
       [9.50e+03, 1.60e+01],
       [9.00e+03, 1.60e+01],
       [8.00e+03, 1.60e+01],
       [7.50e+03, 1.60e+01],
       [7.00e+03, 1.60e+01],
       [1.05e+04, 1.60e+01],
       [9.50e+03, 1.60e+01],
       [7.20e+03, 1.60e+01],
       [6.80e+03, 1.60e+01],
       [6.40e+03, 1.60e+01],
       [6.20e+03, 1.60e+01],
       [1.15e+04, 1.60e+01],
       [1.00e+04, 1.60e+01],
       [9.60e+03, 1.60e+01],
       [7.40e+03, 1.60e+01],
       [7.30e+03, 1.60e+01],
       [6.10e+03, 1.60e+01],
       [1.10e+04, 1.60e+01],
       [8.80e+03, 1.60e+01],
       [8.60e+03, 1.60e+01],
       [8.40e+03, 1.60e+01],
       [7.00e+03, 1.60e+01],
       [6.20e+03, 1.60e+01],
       [3.20e+03, 1.70e+01],
       [3.10e+03, 1.70e+01],
       [2.50e+03, 1.70e+01],
       [2.80e+03, 1.70e+01],
       [4.20e+03, 1.70e+01],
       [4.10e+03, 1.70e+01],
       [3.40e+03, 1.70e+01],
       [3.00e+03, 1.70e+01],
       [3.80e+03, 1.70e+01],
       [3.60e+03, 1.70e+01],
       [2.90e+03, 1.70e+01],
       [2.50e+03, 1.70e+01],
       [4.00e+03, 1.70e+01],
       [3.90e+03, 1.70e+01],
       [3.20e+03, 1.70e+01],
       [2.80e+03, 1.70e+01],
       [3.10e+03, 1.70e+01],
       [3.00e+03, 1.70e+01],
       [2.60e+03, 1.70e+01],
       [2.60e+03, 1.70e+01],
       [3.20e+03, 1.80e+01],
       [2.70e+03, 1.80e+01],
       [2.40e+03, 1.80e+01],
       [2.20e+03, 1.80e+01],
       [3.30e+03, 1.80e+01],
       [2.80e+03, 1.80e+01],
       [2.50e+03, 1.80e+01],
       [2.10e+03, 1.80e+01],
       [3.30e+03, 1.80e+01],
       [2.90e+03, 1.80e+01],
       [2.40e+03, 1.80e+01],
       [2.20e+03, 1.80e+01],
       [3.60e+03, 1.80e+01],
       [3.20e+03, 1.80e+01],
       [2.70e+03, 1.80e+01],
       [2.50e+03, 1.80e+01],
       [3.50e+03, 1.80e+01],
       [3.10e+03, 1.80e+01],
       [2.60e+03, 1.80e+01],
       [2.50e+03, 1.80e+01],
       [8.00e+03, 1.90e+01],
       [8.20e+03, 1.90e+01],
       [7.90e+03, 1.90e+01],
       [6.50e+03, 1.90e+01],
       [5.80e+03, 1.90e+01]])

In [7]:
y

0                  Public Accountant
1                 Accounting Manager
2           Administration Assistant
3                          President
4      Administration Vice President
                   ...
102                    Stock Manager
103                    Stock Manager
104                    Stock Manager
105                    Stock Manager
106                    Stock Manager
Name: job_title, Length: 107, dtype: object

### 6. Dari dataset diatas akan dibagi menjadi data train dan data testing dengan menggunakan modul train_test_split dari sklearn agar dapat membagi data train dan data test berdasarkan rancangan kita. Data train akan kita pakai sebanyak 80% dan testing 20%. Setelah menjalankan kode dibawah, perhatikan tampilan data untuk X_train dan y_train

In [8]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.20, random_state=27)

In [9]:
print(X_train)
print(y_train)

[[7.00e+03 1.60e+01]
 [1.40e+04 1.50e+01]
 [2.10e+03 1.80e+01]
 [6.10e+03 1.60e+01]
 [2.50e+03 1.80e+01]
 [4.10e+03 1.70e+01]
 [2.60e+03 9.00e+00]
 [1.10e+04 1.50e+01]
 [2.50e+03 1.70e+01]
 [1.00e+04 1.60e+01]
 [3.50e+03 1.80e+01]
 [8.00e+03 1.60e+01]
 [6.00e+03 1.10e+01]
 [7.90e+03 1.90e+01]
 [1.00e+04 1.20e+01]
 [1.10e+04 1.40e+01]
 [2.80e+03 8.00e+00]
 [2.60e+03 1.70e+01]
 [7.00e+03 1.60e+01]
 [8.60e+03 1.60e+01]
 [8.00e+03 1.60e+01]
 [1.20e+04 1.00e+00]
 [1.20e+04 6.00e+00]
 [3.30e+03 1.80e+01]
 [1.05e+04 1.60e+01]
 [9.00e+03 1.60e+01]
 [2.50e+03 1.80e+01]
 [3.10e+03 1.80e+01]
 [8.30e+03 0.00e+00]
 [2.60e+03 1.70e+01]
 [2.90e+03 1.80e+01]
 [4.80e+03 8.00e+00]
 [7.80e+03 5.00e+00]
 [1.20e+04 1.50e+01]
 [7.50e+03 1.60e+01]
 [4.20e+03 5.00e+00]
 [1.35e+04 1.50e+01]
 [8.20e+03 5.00e+00]
 [2.40e+03 1.80e+01]
 [2.80e+03 1.70e+01]
 [2.70e+03 1.80e+01]
 [4.20e+03 8.00e+00]
 [9.60e+03 1.60e+01]
 [2.50e+03 1.70e+01]
 [2.90e+03 1.30e+01]
 [3.90e+03 1.70e+01]
 [5.80e+03 1.90e+01]
 [3.20e+03 1.80e+01]
 [1.70e+04 4.00e+00]
 [2.80e+03 1.80e+01]
 [6.40e+03 1.60e+01]
 [4.20e+03 1.70e+01]
 [9.50e+03 1.60e+01]
 [7.40e+03 1.60e+01]
 [8.40e+03 1.60e+01]
 [9.50e+03 1.60e+01]
 [3.60e+03 1.70e+01]
 [3.30e+03 1.80e+01]
 [3.20e+03 1.80e+01]
 [2.40e+04 3.00e+00]
 [3.20e+03 1.70e+01]
 [1.00e+04 1.60e+01]
 [1.00e+04 1.60e+01]
 [3.00e+03 1.70e+01]
 [4.80e+03 8.00e+00]
 [2.70e+03 1.80e+01]
 [8.20e+03 1.90e+01]
 [7.30e+03 1.60e+01]
 [3.20e+03 1.70e+01]
 [1.70e+04 4.00e+00]
 [6.20e+03 1.60e+01]
 [6.90e+03 5.00e+00]
 [7.20e+03 1.60e+01]
 [7.50e+03 1.60e+01]
 [3.10e+03 1.70e+01]
 [4.40e+03 2.00e+00]
 [9.00e+03 8.00e+00]
 [2.50e+03 1.30e+01]
 [2.80e+03 1.30e+01]
 [7.00e+03 1.60e+01]
 [6.50e+03 1.90e+01]
 [1.05e+04 1.50e+01]
 [2.90e+03 1.70e+01]
 [1.10e+04 1.60e+01]
 [1.30e+04 1.00e+01]]
60     Sales Representative
27            Sales Manager
89              Stock Clerk
55     Sales Representative
97              Stock Clerk
               ...
105           Stock Manager
31            Sales Manager
72           Shipping Clerk
56     Sales Representative
19        Marketing Manager
Name: job_title, Length: 85, dtype: object

### 7. Kita bandingkan performa dua klasifikasi pada data tersebut yaitu dengan SVM dan KNN

In [10]:
SVC_model = svm.SVC()
KNN_model = KNeighborsClassifier(n_neighbors=5)

SVC_model.fit(X_train, y_train)
KNN_model.fit(X_train, y_train)

KNeighborsClassifier()

In [11]:
SVC_prediction = SVC_model.predict(X_test)
KNN_prediction = KNN_model.predict(X_test)

kita tuliskan model yang akan digunakan yaitu svm dan knn yang diset dengan neighbors 5. Kemudian kedua model machine learning tersebut kita fit-kan pada `X_train` dan `y_train`. Lalu, kita prediksi kinerja model tersebut dengan data test yaitu dengan baris kode `SVC_prediction = SVC_model.predict(X_test)` dan `KNN_prediction = KNN_model.predict(X_test)`.

### 8. Setelah model kita definisikan selanjutkan akan kita lakukan predict dari hasil pemodelan diatas dan kita hitung koefisien matriknya

In [12]:
print(accuracy_score(SVC_prediction, y_test))
print(accuracy_score(KNN_prediction, y_test))
print(confusion_matrix(SVC_prediction, y_test))
print(classification_report(KNN_prediction, y_test))

0.6363636363636364
0.6363636363636364
[[0 0 0 0 0 0 0]
 [0 0 0 0 0 0 0]
 [0 0 0 0 0 0 0]
 [1 1 0 6 0 0 1]
 [0 0 0 0 3 1 0]
 [0 0 1 0 3 5 0]
 [0 0 0 0 0 0 0]]
                                precision    recall  f1-score   support

                    Accountant       0.00      0.00      0.00         0
Human Resources Representative       0.00      0.00      0.00         0
              Purchasing Clerk       0.00      0.00      0.00         0
                 Sales Manager       0.00      0.00      0.00         1
          Sales Representative       0.83      0.62      0.71         8
                Shipping Clerk       0.83      0.62      0.71         8
                   Stock Clerk       0.67      0.80      0.73         5
                 Stock Manager       0.00      0.00      0.00         0

                      accuracy                           0.64        22
                     macro avg       0.29      0.26      0.27        22
                  weighted avg       0.76      0.64      0.68        22

C:\Users\LENOVO\anaconda3\lib\site-packages\sklearn\metrics\_classification.py:1248: UndefinedMetricWarning: Precision and F-score are ill-defined and being set to 0.0 in labels with no predicted samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))
C:\Users\LENOVO\anaconda3\lib\site-packages\sklearn\metrics\_classification.py:1248: UndefinedMetricWarning: Recall and F-score are ill-defined and being set to 0.0 in labels with no true samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))
C:\Users\LENOVO\anaconda3\lib\site-packages\sklearn\metrics\_classification.py:1248: UndefinedMetricWarning: Precision and F-score are ill-defined and being set to 0.0 in labels with no predicted samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))
C:\Users\LENOVO\anaconda3\lib\site-packages\sklearn\metrics\_classification.py:1248: UndefinedMetricWarning: Recall and F-score are ill-defined and being set to 0.0 in labels with no true samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))
C:\Users\LENOVO\anaconda3\lib\site-packages\sklearn\metrics\_classification.py:1248: UndefinedMetricWarning: Precision and F-score are ill-defined and being set to 0.0 in labels with no predicted samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))
C:\Users\LENOVO\anaconda3\lib\site-packages\sklearn\metrics\_classification.py:1248: UndefinedMetricWarning: Recall and F-score are ill-defined and being set to 0.0 in labels with no true samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))

Dari 2 metode diatas dapat disimpulkan bahwa ternyata KNN dan SVM (support vector machine) mempunyai hasil yang sama. Accuracy score memperlihatkan performa classifier dalam menguji data dalam bentuk presentase. Accuracy score merupakan cara paling sederhana dalam menghitung performa. Confusion matrix dan Classification Report memberikan kita informasi detail tentang performa classifier, seperti precision, recall, f1-score, dan support. Precision adalah positive predictive value, yang berarti rasio prediksi positif yang benar dengan total prediksi positif. Recall adalah true positive rate, yang berarti Rasio prediksi positif yang benar dengan total contoh positif. F1-score menggabungkan precision dan recall classifier ke dalam satu metrik dengan mengambil rata-rata harmoniknya. Support adalah jumlah kemunculan setiap kelas tertentu dalam respons true (respons dalam set test).

### 9. Apabila ingin melihat hasil prediksi SVM dan KNN → kita tinggal panggil variabel prediksi yang sudah didefinisikan

In [13]:
SVC_prediction

array(['Shipping Clerk', 'Sales Representative', 'Stock Clerk',
       'Stock Clerk', 'Sales Representative', 'Stock Clerk',
       'Sales Representative', 'Sales Representative',
       'Sales Representative', 'Stock Clerk', 'Sales Representative',
       'Stock Clerk', 'Sales Representative', 'Shipping Clerk',
       'Stock Clerk', 'Sales Representative', 'Sales Representative',
       'Stock Clerk', 'Shipping Clerk', 'Stock Clerk', 'Shipping Clerk',
       'Stock Clerk'], dtype=object)

In [14]:
KNN_prediction

array(['Stock Clerk', 'Sales Representative', 'Stock Clerk',
       'Stock Clerk', 'Sales Representative', 'Shipping Clerk',
       'Sales Representative', 'Sales Representative',
       'Sales Representative', 'Shipping Clerk', 'Sales Representative',
       'Stock Clerk', 'Sales Manager', 'Shipping Clerk', 'Shipping Clerk',
       'Sales Representative', 'Sales Representative', 'Shipping Clerk',
       'Stock Clerk', 'Shipping Clerk', 'Shipping Clerk',
       'Shipping Clerk'], dtype=object)